.wholeBody{
    /* position: relative; */
    text-align: center;
    width: 100%;
    padding-top: 120px;
}


header {
 background-color: black;
  margin: auto -16px;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.webtitle{
    color:rgb(0, 195, 255);
}

footer {
  color: rgb(109, 109, 109);
  text-align: center;
}

.about {
    text-align: center;
}


/* ここからはコンタクトフォーム */
.container{
  display: grid;
  row-gap: 30px;
  width: 84%;
  max-width: 640px;
  margin: 60px auto;
}
form {
  display: grid;
  row-gap: 30px;
}

input,textarea {
  width: 100%;
  box-sizing: border-box;
  border: solid 1px #ddd;
  padding: 10px;
  font-size: 16px;
  outline: none;
  appearance: none;
  border-radius: 0;
  resize: none;
}

.contact-button {
  justify-self: center;
  border: none;
  background-color: #0d6efd;
  color: #fff;
  padding: 10px;
  font-size: 16px;
}

.contact-button:hover {
  cursor: pointer;
  opacity: 0.7;
}